.gmusic2-update-message {
    font-size: 1.2rem;
}

.gmusic2-update {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    width: 70%;
    min-width: 300px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffffd3;
    background-color: #333333;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.gmusic2-comparison {
    display: flex;
}

.column {

}